.card {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  .selected {
    position: absolute;
    border-radius: 50%;
    border: 10px solid white;
    width: 130px;
    height: 130px;
  }
}
